/* Global Styling */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: purple;
}

.Avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.SocialCard {
  display: flex;
  padding: 0 0 20px 0;
  /* border: 2px solid red; */
  flex-flow: column;
  box-shadow: rgba(0, 0, 0, 0.75) 5px 0px 5px 0px;
}

.CardHeader {
  display: flex;
  /* border: 2px solid goldenrod; */
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

/* CardHeader */
.UserDetails {
  display: flex;
  justify-content: flex-start;
  /* border: 2px solid purple; */
}

.UserDetails p {
  margin: 20px 0 0 0;
  padding: 0;
}

.TextMessage {
  margin: 0 0 0 70px;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  /* border: 2px solid green; */
}

.TextMessage p {
  margin: 0;
  padding: 0;
}

.TextMessage p:last-child {
  /* margin: 0; */
  padding: 0 0 10px 0;
}

/* ContentPreview */
.ContentPreview {
  margin: 0 30px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 1px 0px;
}

.ContentPreviewHero {
  display: flex;
  flex-flow: column;
  background-color: #e6a51e;
  color: white;
}

.CreditsInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* border: 2px solid black; */
}

.ContentPreviewDescription {
  text-align: left;
}

.ContentPreviewDescription p {
  margin: 0;
  padding: 2px;
}

.LFSmPad {
  padding: 0 10px;
}
