/* Global Styling */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.SocialCard {
  display: flex;
  border: 2px solid red;
  flex-flow: column;
}

.CardHeader {
  display: flex;
  border: 2px solid goldenrod;
  flex-flow: column;
}

/* in CardHeader */
.UserDetails {
  display: flex;
  border: 2px solid purple;
}

.TextMessage {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
}

.TextMessage p {
  margin: 0;
  padding: 0;
}
